.wraper{
    padding: 1em;
}

p{
    color:#7f888f;
    font-family: 'Roboto', sans-serif;
}

p>b{
    color: black;
}

ul li{
    list-style-type: none;
    float: left;
}

.header-flex{
    display: flex;
    justify-content: space-between;
}

ul li{
    padding: 0em 1em;
    color: #7f888f;
}

#learn-more{
    background-color: white;
    border: 0.5px solid #ff7e00;
    border-radius: 1em; 
    color: #ff7e00;
    margin: 1%;
    height: 5em;
    width: 10em;

}

.hr-up{
    border:solid #f56a6a;
    width: 99%;
    
     
}

.hr-h2{
    border:solid #f56a6a;
    width: 15%;
    display: inline-flex;
    margin: 0,0,0,0;   
}

.hr-bottom{
    width: 99%;
}

section{
    display: grid;
    grid-template-columns: 50% 50%;
}

img{
    width: 40rem;
    border-radius:4em;
    padding: 0 2em;
    margin-bottom: 0;  
}

.grid{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:50% 50%; 
}

.h2-abajo{
    margin-bottom: 0;
}
.grid2 i{
    color:#f56a6a;
    font-size:3em;
    padding: 0.5em 0 0.5em 0.5em;
     
}

.eshta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid2{
   display: grid;
   grid-template-columns:15% 85%;
   
}

a{
    border:2px solid #f56a6a;
    border-radius:10px;
    padding: 1em 4em;
    text-decoration: none;
    color: #f56a6a;
    

}

a:hover{
    border: rgb(21, 199, 199); 
    background-color: rgb(207, 203, 203);
}